/*  Media Queries   */

@media (min-width : 768px){
    #topnav{
        padding-right: 5%;
    }
}

@media (min-width : 1366px){
    #topnav{
        padding-right: 15%;
    }
}


body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#main{
    position: relative;
    background-color:#050505;
    display: flex;
}

#topnav{
    position: absolute;
    z-index: 1;
    padding-right: 20%;
    overflow: hidden;
}

.nav-link{
    color: whitesmoke;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    filter: brightness(80%);
    width: auto;
    padding: 0px 5px;
    margin: 0px 5px;
    overflow: hidden;

}

.nav-link:hover{
    font-weight: bolder;
    color: #4d70ff !important;
    filter: brightness(100%);
}

li{
    display: inline-block;
}

li > a {
    display: inline-block;
}

a::before{
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


#name{
    position: absolute;
    width: 100%;
    top: 46%;
    color: whitesmoke;
    font-size: 45px;
    font-family: "Fira Code Light";
    filter: brightness(80%);
}

#cursor{
    font-size: 37px;
}

#particles-js{
    height: 100%;
    width: 100%;
    opacity: .7;
}